body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;  Establece la altura al 100% de la ventana del navegador */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

#mainImage {
    max-width: 100vw; /* Establece el ancho máximo al 100% del ancho de la ventana del navegador */
    height: auto; /* Altura automática para mantener la proporción */
}